body {
    font-family: 'Montserrat', sans-serif;
    background-color:white;
}

.banner img {
    width: 100%;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.pilih-liga img {
    max-height: 100px;
}

.pilih-liga .card {
    border-radius: 15px;
}

.product .card {
    border-radius: 15px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb .active {
    font-weight: bold;
    color: black;
}

.btn-dark {
    width: 100%;
    border-radius: 10px;
}

.hantu {
    width: 11%;
    border-radius: 10px;
    float: right;
}